.modal {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  opacity: 1;
  box-sizing: border-box;
  transition: visibility 0s 0.6s, opacity 0.6s ease-in;
}

.modal__container {
  width: 496px;
  height: 436px;
  color: black;
  background-color: #fff;
  border-radius: 20px;
  margin: 190px 418px 0px 382px;
  position: relative;
}

.modal__input {
  margin: 0 auto;
  margin-left: 36px;
  margin-right: 36px;
  border: 0;
  height: 52px;
  width: 420px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "Cabinet Grotesk", sans-serif;
  border-bottom: 1px solid #000000;
}

.modal__form {
  margin: 0px 28px 28px 0px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__form-fieldset {
  border: none;
  margin: 0;
  padding: 0;
  max-height: 0;
  display: flex;
  flex-direction: column;
}

.modal__title {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-left: 37px;
  width: 140px;
  height: 20px;
}

.modal__label {
  margin-top: 24px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-left: 37px;
}

.modal__weather-choice {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-left: 37px;
}

.modal__label_radio {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-left: 8px;
  margin-bottom: 8px;
}

.modal__close {
  display: flex;
  margin-left: 460px;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 0;
  cursor: pointer;
  margin-top: 22px;
  margin-right: 22px;
  background: transparent url(../../images/modal-close.svg) center no-repeat;
  transform: rotate(-90deg);
}

.modal__input_type_radio {
  border-bottom: none;
}

.modal__save-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 105px;
  height: 36px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  padding: 8px 10px;
  top: 30px;
  position: relative;
  left: 34px;
  border: 0;
  margin-bottom: 44px;
  cursor: pointer;
}

.modal__save-button-signin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 105px;
  height: 36px;
  background: #000;
  color: #fff;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  padding: 8px 10px;
  top: -23px;
  position: relative;
  left: 34px;
  border: 0;
  margin-bottom: 44px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .modal {
    flex-direction: column;
    align-items: center;
  }
}
