.main {
  display: flex;
  width: 1360px;
  height: 387px;
}

.main__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 24px;
  gap: 10px;
}

.main__description {
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin-top: 40px;
  margin-left: 30px;
}

@media only screen and (max-width: 1024px) {
  .main {
    display: flex;
    width: 1360px;
    height: 387px;
  }

}

@media only screen and (max-width: 880px) {
  .main {
    display: flex;
    width: 1360px;
    height: 387px;
  }
}

@media only screen and (max-width: 480px) {
  .main {
    display: flex;
    width: 1360px;
    height: 387px;
  }
}
