.main {
  width: 1360px;
}

.main__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 24px;
  gap: 10px;
}

.main__description {
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin-top: 40px;
  margin-left: 66px;
}
