.header {
  display: flex;
  height: 40px;
  width: 1360px;
  margin-top: 32px;
  justify-content: space-between;
}

.header__container {
  display: flex;
  margin: 0;
  top: 8px;
  margin-left: 130px;
}

.header__info {
  display: flex;
  align-items: flex-end;
  margin-right: 190px;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin: 0;
  padding: 0;
  left: -127px;
  position: relative;
}

.header__date-location {
  position: relative;
  top: 10px;
  margin: 0 0 0 24px;
  font-family: 'Cabinet Grotesk', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  left: -121px;
}

.header__add-clothes {
  height: 24px;
  width: 145px;
  font-family: 'Cabinet Grotesk', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background: transparent;
}

.header__add-clothes:hover {
  opacity: 06;
}



.header__username {
  font-family: 'Cabinet Grotesk', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  position: relative;
  top: 20px;
  margin-left: 20px;
}

.header__avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
  background-position: center;
  margin-left: 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 880px) {
  .header {
    top: 16px;
  }

  .header__logo {
    
  }
}

@media screen and (max-width: 480px) {
  .header {
    top: 16px;
  }

  .header__logo {

  }
}