.header {
  display: flex;
  height: 40px;
  width: 1360px;
  margin-top: 32px;
  justify-content: space-between;
}

.header__container {
  display: flex;
  margin: 0;
  top: 8px;
  margin-left: 155px;
}

.header__info {
  display: flex;
  align-items: flex-end;
  margin-right: 190px;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin: 0;
  padding: 0;
  left: -127px;
  position: relative;
}

.header__date-location {
  position: relative;
  top: 10px;
  margin: 0 0 0 24px;
  font-family: 'Cabinet Grotesk', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  left: -121px;
}

.header__add-clothes {
  height: 24px;
  width: 145px;
  font-family: 'Cabinet Grotesk', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background: transparent;
}

.header__add-clothes:hover {
  cursor: pointer;
}



.header__username {
  font-family: 'Cabinet Grotesk', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  position: relative;
  top: 20px;
  margin-left: 20px;
}

.header__avatar {
  border-radius: 50%;
  position: relative;
  top: 12px;
  height: 40px;
  width: 40px;
  object-fit: cover;
  background-position: center;
  margin-left: 12px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 880px) {
  .header {
    margin-top: 56px;
  }
  .header__container {
    margin-bottom: 32px;
    padding-left: 19px;
    padding-right: 19px;
    width: 300px;
    height: 33px;
  }

  .header__logo {
    margin-bottom: 32px;
    width: 99px;
    height: 23px;
    top: 39px;
    box-sizing: border-box;
  }

  .header__info {
    margin-bottom: 32px;
    padding-left: 19px;
    padding-right: 19px;
    width: 173px;
    height: 33px;
    box-sizing: border-box;
    left: -517px;
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .header__date-location {
    margin-bottom: 32px;
    padding-left: 19px;
    padding-right: 19px;
    width: 173px;
    height: 33px;
    box-sizing: border-box;
  }

  .toggleswitch__container {
    margin-bottom: 32px;
    padding-left: 19px;
    padding-right: 19px;
    width: 59px;
    height: 28px;
    box-sizing: border-box;
    display: flex;
    top: 64px;
  }

  .toggleswitch {
    margin-bottom: 32px;
    padding-left: 19px;
    padding-right: 19px;
    width: 173px;
    height: 33px;
    box-sizing: border-box;
  }

  .toggleswitch__f {
    display: flex;
    flex-direction: row;
    top: -7px;
    position: relative;
  }

  .toggleswitch__c {
    display: flex;
    flex-direction: row;
    top: -7px;
    position: relative;
  }

  .header__add-clothes {
    display: flex;
    flex-direction: row;
    top: 5px;
    position: relative;
    height: 12px;
  }

  .header__username {
    margin-bottom: 32px;
    padding-left: 19px;
    padding-right: 19px;
    width: 173px;
    height: 33px;
    box-sizing: border-box;
    top: 56px;
    left: -15px;
  }

  .header__avatar {
    display: flex;
    top: 36px;
    left: -19px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    margin-top: 28px;
  }
  .header__container {
    margin-bottom: 32px;
    padding-left: 19px;
    padding-right: 19px;
    width: 126px;
    height: 24px;
  }
  .header__info {
    margin-bottom: 32px;
    padding-left: 19px;
    padding-right: 19px;
    width: 173px;
    height: 33px;
    box-sizing: border-box;
    left: -473px;
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .header__username {
    margin-bottom: 32px;
    padding-left: 19px;
    padding-right: 19px;
    width: 173px;
    height: 33px;
    box-sizing: border-box;
  }
}