.App {
  position: relative;
  height: 1084px;
  width: 100%;
  background: cover #F3F3F3;
  margin: auto 0;
  background-color: rgba(0, 0, 0, 0.3); 
}

.App__content {
  max-width: 880px;
  height: 100%;
  margin: 0 40px 0 40px;
}
