.App {
  position: relative;
  /* height: 900px; */
  min-height: 100vh;
  width: 100%;
  background: cover #F3F3F3;
  /* background-color: rgba(0, 0, 0, 0.3);  */
}

.App__content {
  max-width: 1084px;
  min-height: 100vh;
  margin: 0 40px 0 40px;
  flex-direction: row;
}
