.modal__preview {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  visibility: visible;
  opacity: 1;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.3);
  transition: visibility 0s, opacity 0.5s linear;
  justify-content: center;
  align-items: center;
}

.modal__container-preview {
  margin: 103px 455px;
}

.modal__image-preview {
  display: flex;
  position: relative;
  left: -1px;
  width: 422px;
  height: 460px;
  object-fit: cover;
  border-radius: 5px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  cursor: pointer;
}

.modal__label-preview {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 422px;
  padding: 1px;
  background-color: #fff;
  border-radius: 5px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.modal__title-preview {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 138px;
  height: 20px;
  margin-left: 30px;
}

.modal__description {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 120px;
  height: 20px;
  margin-left: 30px;
}

.modal__close-preview {
  display: flex;
  top: 31px;
  position: relative;
  margin-left: 390px;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
  z-index: 1;
  background: transparent url(../../images/modal-close.svg) center no-repeat;
  transform: rotate(-90deg);
}

.modal__close-preview:hover {
  cursor: pointer;
}

.modal__delete-item {
  display: flex;
  position: relative;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  width: 100px;
  height: 24px;
  border: none;
  background-color: #fff;
  color: #ff4d00;
  cursor: pointer;
  top: -76px;
  left: 303px;
  margin: 0;
  text-align: end;
}

.modal__delete-hidden {
  display: none;
}


@media screen and (max-width: 880px) {
  .modal__container-preview {
    margin: 103px 200px;
  }

  .modal__image-preview {
    width: 421px;
    height: 371px;
    object-fit: cover;
    border-radius: 5px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    cursor: pointer;
    top: -2px;
    z-index: 0;
    position: relative;
  }

  .modal__close-preview {
    z-index: 1;
    position: relative;
  }
}