.clothes__section {
  display: flex;
}
.clothes__section-info {
  display: flex;
}

.clothes__section-container {
  display: flex;
  margin-top: 106px;
}

.clothes__section-items {
  display: flex;
  flex-wrap: wrap;
}
