.clothes__section {
  display: flex;
  margin-right: 62px;
  margin-top: 2px;
}

.clothes__section-info {
  margin: 0;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 136px;
  left: 306px;
  font-family: 'Cabinet Grotesk', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.clothes__section-container {
  display: flex;
  margin-top: 106px;
}

.clothes__section-title {
  display: flex;
  width: 150px;
}

.clothes__button-add {
  font-family: 'Cabinet Grotesk', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin: 0px 20px;
  border: 0;
  background-color: transparent;
  padding: 0px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  margin-top: 25px;
  margin-left: 8px;
  cursor: pointer;
}

.clothes__section-items {
  display: flex;
  flex-wrap: wrap;
}
