.clothes__section {
  /* margin-right: 62px;
  margin-top: 2px; */
}

.clothes__section-container {
  display: block;
  margin-top: 106px;
  padding: 10px;
}

.clothes__section-info {
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin: 0;
  padding: 0;
}

.clothes__section-title {
  width: 150px;
  top: -40px;
  position: relative;
  left: 56px;
}

.clothes__button-add {
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  border: 0;
  background-color: transparent;
  padding: 0px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  cursor: pointer;
  top: -88px;
  position: relative;
  left: 216px;
}

.clothes__section-items {
  display: flex;
  flex-wrap: wrap;
  top: -78px;
  position: relative;
}
